{% extends 'base.html' %}
{% block title %} About{% endblock %}
{% load static %}
{% block page_css %}
 <link rel="stylesheet" href="{% static 'css/home.css' %}">
 <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}
{% block content %}

    {% if banner %}
 <div class='top-img'>
    <img src="{{ banner.image.url }}" />
        <div class="text-overlay">
          <h1>{{ banner.contact }}</h1>
          <p>{{ banner.title }}</p>
          <a href="{% url 'products_list' %}">Explore Collection<i class="fa-solid fa-arrow-right-arrow-left"></i></a>
        </div>
        </div>

        {% endif %}
        <section>
   <h2 class="collection-title">Our Collection</h2>

    <div class="category-row">

    <a href="{% url 'products_by_gender' 'mens' %}" class="category-box">
        <img src="https://m.media-amazon.com/images/I/71yyE1XUp1L._AC_UY1000_.jpg" alt="Men">
        <div class="overlay">
            
            <button>Men</button>
        </div>
    </a>

    <a href="{% url 'products_by_gender' 'womens' %}"class="category-box">
        <img src="https://www.brit.co/media-library/adidas-sneakers.jpg?id=51727419&width=400&height=500" alt="Women">
        <div class="overlay">
            <button>Women</button>
        </div>
    </a>

    <a href="{% url 'products_by_gender' 'kids' %}" class="category-box">
        <img src="https://media.istockphoto.com/id/1171197401/photo/young-children-do-cardio-exercises.jpg?s=612x612&w=0&k=20&c=Si6sSHY0HiWBCsfriZ8XoIb6xu2TmNoT8-sQ6MJ8w54=" alt="Kids">
        <div class="overlay">
            
            <button>Kids</button>
        </div>
    </a>

</div></section>

<!-- reviews boxes -->
 <div class="reviews-section">

    <div class="review-card">
        <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="User">

        <h3>Rahul Sharma</h3>

        <p>
            Amazing quality sneakers. Delivery was super fast and fitting is perfect.
        </p>

        <span>★★★★★</span>
    </div>

    <div class="review-card">
        <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="User">

        <h3>Priya Verma</h3>

        <p>
            Loved the design and comfort. Looks premium and stylish.
        </p>

        <span>★★★★★</span>
    </div>

    <div class="review-card">
        <img src="https://randomuser.me/api/portraits/men/75.jpg" alt="User">

        <h3>Aman Khanna</h3>

        <p>
            One of the best sneaker stores online. Totally recommended.
        </p>

        <span>★★★★★</span>
    </div>

</div>

<!-- brand logos -->
 <div class="brand-slider">

    <div class="brand-track">

        <img src="https://i.pinimg.com/736x/d7/70/b9/d770b96ea3d43efbf5bdac06a0d589a8.jpg" alt="Nike">

        <img src="https://i.pinimg.com/736x/85/e8/ac/85e8ac7e34fc40846fedd80dee7bec86.jpg" alt="Adidas">

        <img src="https://i.pinimg.com/736x/f9/4b/5b/f94b5bd712f3c3590f0dd52bf1c39840.jpg" alt="Puma">

        <img src="https://i.pinimg.com/1200x/3b/55/da/3b55daef4d5e9fe19cb3055194bb2a3c.jpg" alt="New Balance">

        <img src="https://i.pinimg.com/1200x/a5/09/ce/a509ce51391852498f89d9d5df633cbd.jpg" alt="Converse">


        <!-- Duplicate for smooth loop -->

        <img src="https://i.pinimg.com/736x/d7/70/b9/d770b96ea3d43efbf5bdac06a0d589a8.jpg" alt="Nike">

        <img src="https://i.pinimg.com/736x/85/e8/ac/85e8ac7e34fc40846fedd80dee7bec86.jpg" alt="Adidas">

        <img src="https://i.pinimg.com/736x/f9/4b/5b/f94b5bd712f3c3590f0dd52bf1c39840.jpg" alt="Puma">

        <img src="https://i.pinimg.com/1200x/3b/55/da/3b55daef4d5e9fe19cb3055194bb2a3c.jpg" alt="New Balance">

        <img src="https://i.pinimg.com/1200x/a5/09/ce/a509ce51391852498f89d9d5df633cbd.jpg" alt="Converse">



    </div>

</div>





<!-- big image -->

<div class="promo-banner">
    <img src="https://cdn.runrepeat.com/storage/gallery/buying_guide_primary/66/66-best-sneakers-001-15275042-main.jpg" alt="Banner">

    <div class="banner-content">
        <h1>NEW SNEAKER COLLECTION</h1>
        <p>Discover the latest streetwear trends</p>

        <a href="{% url 'products_list' %}">
            Shop Now
        </a>
    </div>
</div>
{% endblock %}
