.top-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.top-img img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  display: block;
}

/* Overlay */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  width: 80%;
  max-width: 700px;
}

/* Heading */
.text-overlay h1 {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 1.1;
}

/* Paragraph */
.text-overlay p {
  font-size: 18px;
  line-height: 1.6;
}

/* Button */
.text-overlay a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 18px 32px;
  margin-top: 35px;
  background-color: #fff;
  color: #000;
  border-radius: 60px;
  text-decoration: none;
  gap: 8px;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.4s ease;
}

.text-overlay a:hover {
  background-color: rgb(230, 14, 14);
  color: #fff;
}
  


/* the div css start haear                 <---------- */


.promo-banner{
  margin-top: 40px;
    position:relative;
    width:100%;
    height:500px;
    overflow:hidden;
    margin-bottom: 40px;
}

.promo-banner img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* Dark overlay */
.promo-banner::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.35);
}

/* Center Text */
.banner-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:#fff;
    z-index:2;
    width:90%;
}

.banner-content h1{
    font-size:55px;
    margin-bottom:15px;
    font-weight:700;
}

.banner-content p{
    font-size:18px;
    margin-bottom:25px;
}

.banner-content a{
    display:inline-block;
    padding:14px 28px;
    background:#fff;
    color:#000;
    text-decoration:none;
    font-weight:600;
    border-radius:40px;
    transition:0.3s;
}

.banner-content a:hover{
    background:#ec1616cd;
    color:#fff;
}

/* =========================
   TABLET
========================= */
@media(max-width:992px){

    .promo-banner{
        height:400px;
    }

    .banner-content h1{
        font-size:40px;
    }

}

/* =========================
   MOBILE
========================= */
@media(max-width:576px){

    .promo-banner{
        height:300px;
        border-radius:8px;
    }

    .banner-content h1{
        font-size:26px;
    }

    .banner-content p{
        font-size:14px;
    }

    .banner-content a{
        padding:10px 20px;
        font-size:14px;
    }

}



/* review divss section start from here */

.reviews-section{
    width:100%;
    display:flex;
    gap:25px;
    padding:60px 5%;
    justify-content:center;
    flex-wrap:wrap;
}

.review-card{
    flex:1;
    min-width:280px;
    max-width:350px;
    background:#fff;
    padding:30px 25px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    text-align:center;
    transition:0.3s ease;
}

.review-card:hover{
    transform:translateY(-8px);
}

.review-card img{
    width:80px;
    height:80px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:18px;
}

.review-card h3{
    font-size:20px;
    margin-bottom:12px;
}

.review-card p{
    font-size:15px;
    line-height:1.7;
    color:#666;
    margin-bottom:15px;
}

.review-card span{
    color:#f5a623;
    font-size:20px;
    letter-spacing:2px;
}

/* =========================
   TABLET
========================= */
@media(max-width:992px){

    .reviews-section{
        gap:20px;
    }

    .review-card{
        min-width:250px;
    }

}

/* =========================
   MOBILE
========================= */
@media(max-width:576px){

    .reviews-section{
        padding:40px 20px;
    }

    .review-card{
        width:100%;
        max-width:100%;
    }

}
/* ========================= */
/* Tablet */
/* ========================= */

@media (max-width: 992px) {

  .top-img img {
    height: 70vh;
  }

  .text-overlay {
    left: 50%;
    width: 90%;
  }

  .text-overlay h1 {
    font-size: 50px;
  }

  .text-overlay p {
    font-size: 16px;
  }

  .text-overlay a {
    padding: 15px 28px;
    font-size: 15px;
  }
}

/* ========================= */
/* Mobile */
/* ========================= */

@media (max-width: 576px) {

  .top-img img {
    height: 60vh;
  }

  .text-overlay {
    left: 50%;
    width: 90%;
  }

  .text-overlay h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .text-overlay p {
    font-size: 14px;
    line-height: 1.5;
  }

  .text-overlay a {
    padding: 12px 22px;
    font-size: 14px;
    margin-top: 20px;
  }
}

/* logoes     <----------- */

.brand-slider{
    width:100%;
    overflow:hidden;
    background:#fff;
    padding:35px 0;
    position:relative;
}

.brand-track{
    display:flex;
    align-items:center;
    gap:70px;
    width:max-content;
    animation:scrollBrands 18s linear infinite;
}

.brand-track img{
    width:120px;
    height:100px;
    object-fit:contain;
    opacity:0.8;
    transition:0.3s ease;
}

.brand-track img:hover{
    opacity:1;
    transform:scale(1.08);
}

/* Animation */
@keyframes scrollBrands{

    0%{
        transform:translateX(0);
    }

    100%{
        transform:translateX(-50%);
    }

}

/* =========================
   MOBILE
========================= */
@media(max-width:576px){

    .brand-track{
        gap:40px;
    }

    .brand-track img{
        width:100px;
        height:60px;
    }

}




/* the  three gender box css */


.collection-title {
    margin: 25px 0;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #000000c5;
}



/* Container */
.category-row {
    display: flex;
    gap: 24px;
    padding: 40px 5%;
}

/* Card */
.category-box {
    position: relative;
    flex: 1;
    height: 320px;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    display: block;
}

/* Image */
.category-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

/* Overlay (gradient + content) */
.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.566),
        rgba(0,0,0,0.2),
        transparent
    );
    color: #fff;
}



/* Button */
.overlay button {
    align-self: center;
    padding: 10px 18px;
    border-radius: 25px;
    border: none;
    background: #fff;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Button hover */
.overlay button:hover {
    background: #ff0000;
    color: #f8f5f5;
}

/* Hover effects */
.category-box:hover img {
    transform: scale(1.1);
}

.category-box:hover {
  
    transform: translateY(-2px);
    transition: 0.2s ease;
}

/* Row base */
.category-row {
    display: flex;
    gap: 20px;
}
.category-row {
    scroll-behavior: smooth;
}

/* Tablet (3 in row but smaller) */
@media (max-width: 992px) {
   .collection-title {
        font-size: 48px;
        margin: 20px 0;
    }
    .category-box {
        height: 250px; /* smaller */
    }
}

/* Mobile slider */
@media (max-width: 600px) {

  .collection-title {
        font-size: 30px;
        margin: 10px 0;
    }
    .category-row {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-bottom: 10px;
        margin-left: 9px;
    }

    .category-row::-webkit-scrollbar {
        display: none; /* hide scrollbar */
    }

    .category-box {
        min-width: 80%;   /* show one big card */
        flex: 0 0 auto;
        height: 220px;    /* smaller */
        scroll-snap-align: start;
    }
}





